
header {
    text-align: center;
    background-image: linear-gradient(to top right, rgb(10, 119, 201), rgb(3, 53, 92));
}

.heading {
    color: whitesmoke;
    padding: 10px 0;
}

#search-input {
    border-bottom: solid 2px rgb(108, 117, 125);
}

#dashboard p {
    font-size: 20px;
    font-weight: 500;
}

.forecast-box {
    background-color: rgb(3, 53, 92);
    color: whitesmoke;
}